body{background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
.large-box{
    padding:20px;
    display:flex;
    flex-direction: column;
    width:20vw;
    height:auto;
    box-shadow: 0px 5px 10px grey;
    background-color: white;
    border-radius: 10px;
}
.small-box{
    padding:20px;
    display:flex;
    flex-direction: column;
    background-color: aliceblue;
    border-radius: 10px;
}

.data{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.button-box{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
}
.dropdown{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.close-button{
    float: right;
}
